* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header {
    display: flex;
    padding: flex;
    color: rgb(126, 44, 44);
    background-color: blueviolet;
    text-align: center;
    justify-content: space-between;
    padding: auto;

}
nav {
    background-color: rgb(243, 232, 232);
}


nav p {
    padding: 14px 20px;
    background-color: brown;
    text-align:right;
}

nav ul {
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    text-decoration: none;
}
nav li {
    color: aqua;
    background-color: aqua;
}
main{
    display: flex;
    flex-wrap: wrap;

}
aside {
    flex: 30%;
    background-color: rgb(235, 235, 246);
    padding: 20px;
    flex-wrap: wrap;
}

h1 {
    font-size: 100%;
}

.sample-img {
    background-color: rgb(225, 224, 225);
    width: 100%;
    padding: 20px;
    height: auto;
    border: 1px solid black;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: auto;
    background-color: red;
    color: blue;

}

u2 {
   color: aquamarine; 
   font-size: large;
   justify-content: space-between;
}